.container {
  width: 35%;
  height: 100%;
  border-radius: 1rem 0 0 1rem;
  box-sizing: border-box;
  border-right: 0.3rem solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}
